body {font-family: Arial, Helvetica, sans-serif;}


.header-container {
    background-image: url("img/bg_header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: 30px;

}

.btn-select {
    font-size: 18px;
    margin: 66px;
    border-radius: 20px;

}
.form {
    background-image: url("img/bg_all.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    background-color: #00cbf6;
    justify-content: center;
    min-height: 100vh;
   flex-wrap: wrap;

}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

}

/* Modal Content */
.modal-content {
    background-image: url("img/selekt_form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.9s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: darkblue;
    float: right;
    font-size: 28px;
    font-weight: bold;

}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {

    color: dodgerblue;
    text-align: center;
}

.modal-body {padding: 2px 16px;}

.card {
    width: 100%;
    padding: 10px 0;
    background-color:  mediumblue;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* Dropdown Menu*/



.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropbtn {
    background-color: blue;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.dropdown {
    cursor: pointer;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.input-container {
    display: none;
}

.name-visit {
    display: block;
    margin: 10px auto;
}
.last-name {
    display: block;
    margin: 10px auto;
}
.age {
    display: block;
    margin: 10px auto;
}
.visit-purpose {
    display: block;
    margin: 10px auto;
}
.visit-date {
    display: block;
    margin: 10px auto;
}
.blood-pressure {
    display: block;
    margin: 10px auto;
}
.hart-disease-record {
    display: block;
    margin: 10px auto;

}
.weight-index {
    display: block;
    margin: 10px auto;
}
.last-visit-date {
    display: block;
    margin: 10px auto;
}
.textarea {
    display: block;
    margin: 10px auto;
}
.cardio-text-none{
    display: none;

}
.card-text {
    text-align: left;
    padding-left: 10px;
    font-size: 12px;
    font-weight: 700;
}

.none {
    display: none;
}

.visit-container {
    display: inline-table;
    width: 20%;
    border: 2px solid black;
    background-color: #8ca0ff;
    margin: 10px;
    text-align: center;
    position: relative;

}

.visit-container-cardio {
    background-image: url("img/cardiolog_form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.visit-container-stomat {
    background-image: url("img/stomat_form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.visit-container-therapist {
    background-image: url("img/therapist_form.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.btn-show {
    color: white;
    background-color: mediumblue;
   border-radius: 10px;
    margin-bottom: 10px;

}

.active{
    display: block;
}
.btn-close-card {
    position: absolute;
    right: 0;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;

}